[2016-01-26 10:57] cht8687 opened #2 "quick link is not working"
Anyone got idea why quick link is not working? Need markdown expert :+1:

[2016-01-26 11:07] #2 closed

[2016-01-26 11:50] ifrim opened #4 "reduceRight native example is wrong"
var array = [0, 1, 2, 3, 4];
    var result = array.reduce(function (previousValue, currentValue, currentIndex, array) {
        return previousValue - currentValue;
    });
    console.log(result);
    // output: -2

The above output is not "-2" it is "-10".

[2016-01-26 12:11] cht8687 commented on #4
oh thank for that! @ifrim I am correcting it now.

[2016-01-26 12:13] #4 closed

[2016-01-26 23:07] stevemao opened #11 "Missing Microsoft edge browser"
Microsoft is killing IE and Chakra is getting a lot of attention now :)

[2016-01-26 23:08] stevemao opened #12 "Show complex use-cases"
[code]
is simple use-case only
what about
[code]

[2016-01-26 23:15] cht8687 commented on #11
That's why those functions can be used as most of the methods are IE9+... : )

[2016-01-26 23:17] cht8687 commented on #12
I think keep it simple and clean is important. But complex use-cases are also fine I think.

[2016-01-26 23:23] cht8687 commented on #11
I will make edge version later or if you can help to add in that would be awesome.

[2016-01-26 23:24] stevemao commented on #12
The reason is `Array.prototype.forEach` does not support `return false` to end loop as `_.each` do.
Also `_.each` is faster as it's a stripped down version of `Array.prototype.forEach`. So the equivalent should be a `for` loop with `break`.

[2016-01-27 00:55] lewisje commented on #11
Those features available in any version of IE are also clearly available in Edge, but it's not so obvious whether those features never available in IE are now available in Edge; I think I'll look up which features Edge supports that IE does not.

[2016-01-27 01:02] cht8687 commented on #11
@lewisje  I think most of them are targeting IE9+. But we can still use https://github.com/es-shims/es5-shim for old browsers.

[2016-01-27 01:48] bholben commented on #12
I really like the list.  I'm putting together a similar blog series about how/where to use Lodash.  My background is with some larger, computationally intensive applications, so my perspective may be a little different.  Reading this makes me want to add some details about when the Lodash investment is worth it and when it is not.  Here's my summary of some advantages of the Lodash looping constru

[2016-01-27 02:47] cht8687 commented on #12
Hi @bholben that's a really nice article for comparing the difference between the two! Many thanks to share it here.

[2016-01-27 08:13] markogresak opened #13 "includes support for IE 9+"
A very simple workaround is

[code]

[2016-01-27 09:37] cht8687 commented on #13
Nice to have this tip！thank you @markogresak

[2016-01-27 12:31] Alex-Sokolov opened #16 "Include version support with polyfill"
Maybe add version support for browsers with polyfill (https://github.com/es-shims/es5-shim)?

[2016-01-27 13:43] BBCMarkMcDonnell opened #17 "Performance"
Hello,

Just a quick comment that @jdalton (Microsoft) has investigated the performance implications of using native over abstraction libraries and it appears native is generally slower.

I think it would be worth making note of this within your README as it's otherwise a bit misleading.

Thanks

[2016-01-27 14:29] IonicaBizau commented on #13
Or even simpler:

[code]

@cht8687 Nice project! :+1:

[2016-01-27 16:21] lewisje commented on #11
I just looked it up: Edge supports `find` and `findIndex` (from ES6), but `includes` (stage 4 ES7 candidate) is still under consideration, and all of the other methods are already available at least as far back as IE9.

[2016-01-27 18:13] jdalton commented on #17
I don't think there's a need to qualify the post as [most get it](https://www.reddit.com/r/javascript/comments/42quf8/youdontneedlodashunderscore/). The title is click bait but the gist is correct. If you're only using a handful of methods, on arrays only, and don't care about nullish guards, smoothing over environment issues or ES5/ES6 issues, iteratee shorthands, & lazy evaluation then built-ins

[2016-01-27 19:06] markogresak commented on #13
@IonicaBizau I do not know why would that be simpler, other than in number of characters used. The readability of this code is bad and might even be confusing for people who do not know about unary operators and how bitwise negation works, which is especially true for new programmers. Performance wise, there is next to none difference.

[2016-01-27 20:18] IonicaBizau commented on #13
@markogresak Well, *simpler* === *shorter* for me. :joy: No worries, I know what you mean. Especially in an if condition, you just use `if (~array.indexOf(42)) { /* yes, it exists */ }`.

[2016-01-27 21:52] cht8687 commented on #13
@IonicaBizau Thanks for another solution. :+1:

[2016-01-27 21:57] cht8687 commented on #17
@BBCMarkMcDonnell, Hi Mark, yes you are quite right about the performance. That's why I've fixed the word to remove the claim that native is faster. https://github.com/cht8687/You-Dont-Need-Lodash-Underscore/commit/7d7147369096fec2e2ab273e21210c38454725b4 @jdalton Great to know the goodies of Lodash. : ) I've learned a lot through you guys. Cheers.

[2016-01-27 22:04] cht8687 commented on #16
Thank you @Alex-Sokolov. Definitely es5-shim should be mentioned. I am just thinking about how to add it in. Maybe just point out that, for older browsers, we can use es5-shim. I really want to keep the list mainly for native support without any other third party dependencies or shims. : )

[2016-01-27 23:54] cht8687 commented on #17
@jdalton Again John, thank you for your hard work on Lodash which makes our developers' lives easier. It is invaluable treasure for our developers.

[2016-01-28 03:04] devanp92 opened #18 "Roadmap"
Is there a roadmap for this project to display which functions to implement?

[2016-01-28 07:16] cht8687 commented on #18
Hi @devanp92, this project doesn't plan to implement functions. It will have a handy collection of native methods for those who want less dependencies in their projects. But if you have any plans which can make this list better, just feel free to contribute to it. Thanks!!

[2016-01-28 09:33] Integralist commented on #17
Cool. Thanks for the feedback

[2016-01-28 17:32] devanp92 commented on #18
Great! Is there a need for the function .join()?

[2016-01-28 22:07] cht8687 commented on #18
@devanp92  Yes. But since it is a Lodash only function, just label it as Lodash only function in this format: https://github.com/cht8687/You-Dont-Need-Lodash-Underscore#_reverse

[2016-01-29 07:05] stevemao commented on #17
I have created [You-Dont-Know-About-Lodash-Underscore](https://github.com/stevemao/You-Dont-Know-About-Lodash-Underscore) which contains performance an differences between lodash/underscore and native methods.

[2016-01-29 07:12] jdalton commented on #17
I appreciate the sentiment but getting pushing static micro benchmark results isn't that great either. I'm a fan of built-ins. As the Chakra performance PM I pushed-to and succeeded-in optimizing a few of them. For more on lodash and performance see my [ThunderPlains deep dive into Lodash and JS performance](https://www.youtube.com/watch?v=OP8jdbcDfaA).

[2016-01-29 11:37] cht8687 opened #25 "Polls: If you'd like this list include some native implementations which are not built-in..."
Hi Guys, first of all, thank you all for your support for this project.

I'd like to have a polls to find out if you guys like this list to include some native implementations which are not built-in functions. For example [_.after](https://github.com/infacq/You-Dont-Need-Lodash-Underscore/commit/96edb5448e657876d096f53c9025b9bf006919bb)

The poll link is here:  [Polls link](http://www.easypolls.ne

[2016-01-29 13:16] cht8687 commented on #25
I will vote first: Let Lodash/Underscore do their best job and we just have a list of methods which are already built-in. This is just a check-list to assist our developers to make a decision about if they need or not.

[2016-01-29 14:36] cht8687 commented on #17
@stevemao Thank you for that, but the main purpose for this list is for reminding our developers that, what methods are already native supported.

@jdalton
for your statement that:

Yes you are absolutely right. But, in case I want more complex methods, my personal choice is [Immutable.js](https://facebook.github.io/immutable-js/), I like the performance of immutable.js in some of my Redux + React

[2016-01-29 15:09] jdalton commented on #17
Lodash and Immutable are a bit different. Lodash is a generic utility library and has a wider range of methods and scenarios it caters to. That said, Lodash does offer immutable methods with its `fp` build. Using `require('lodash/fp')` provides immutable auto-curried iteratee-first data-last flavors of lodash methods.

[2016-01-29 15:13] jdalton commented on #17
It would be great if you could follow up on https://github.com/cht8687/You-Dont-Need-Lodash-Underscore/pull/21#issuecomment-176665256. As your project is currently a bit misleading.

[2016-01-29 17:58] wilmoore commented on #11
Similarly, would be great to mention Node.js. I know it's implied, but for those that don't use it everyday, it could help.

[2016-01-29 18:20] lewisje commented on #11
Much like Edge, Node supports the ES5 and ES6 features in that list, but not the ES7 Stage 4 candidate, `Array#includes` (Kangax's ES7 table didn't include Node 5, however).

[2016-01-29 23:47] #12 closed

[2016-01-30 01:26] cht8687 commented on #17
@jdalton I've included [disclaimer](https://github.com/cht8687/You-Dont-Need-Lodash-Underscore/commit/e8ebad33b8c5dfe561ae0323fd7441e19d646a40), let me know if you'd like any more changes regarding this issue.

[2016-01-30 02:44] stevemao commented on #11
Maybe phantomjs too? I say as many platforms as possible.

[2016-01-30 04:04] jdalton commented on #17
That's perfect!

[2016-01-30 04:04] jdalton commented on #17
Thank you!

[2016-01-30 13:05] #17 closed

[2016-01-30 13:05] #18 closed

[2016-01-30 13:48] cht8687 commented on #11
@stevemao phantomjs 2.0 support most of the methods.

[2016-01-30 13:51] cht8687 commented on #11
@wilmoore  as far as I know, V8 implements all of ES5 methods.

[2016-01-30 13:59] cht8687 commented on #16
@Alex-Sokolov I had added es5-shim link.

[2016-01-30 13:59] #16 closed

[2016-02-01 10:55] #11 closed

[2016-02-02 15:03] lewisje commented on #13
You do need to take care of the case of `NaN`, because `[NaN].indexOf(NaN) === -1` even though `[NaN].includes(NaN) === true`:

[code]

The last `if` statement in this example is where I test for the special case of `NaN`; this is adapted from a polyfill I wrote once for `Array#includes`, and the example in this repo doesn't need to be as detailed as this one.

[2016-02-02 17:19] IonicaBizau commented on #13
@lewisje That's very good point, because `NaN !== NaN`. :+1:

[2016-02-10 11:22] #25 closed

[2016-02-23 06:44] kotarou3 opened #32 "Missing Object.assign() for _.extend/assign"
Doesn't match behaviour *exactly* IIRC, but matches close enough for most people's use cases

[2016-02-23 07:56] cht8687 commented on #32
@kotarou3 That sounds good. Welcome PR. :smile:

[2016-03-08 10:28] slorber opened #33 "Equivalent of _.without"
Hi,

Is there an elegant way to remove an item from an array in an immutable way without using underscore?

I want `_.without([1,2,3],2)` to return `[1,3]`.

The original array should remain unmodified.

I'd like to avoid using a syntax involving indexes, slice, splice or whatever because I never remember it and using _ is much simpler.

Is there any simple way with ES next?

[2016-03-12 23:04] tuckerconnelly commented on #33
This is probably the closest:
[code]

[2016-03-16 16:14] slorber commented on #33
yes thanks

still quite heavy imo :'(

[2016-03-17 11:47] slorber commented on #33
btw I'll have the same question for _.omit :)

[2016-03-17 12:04] tuckerconnelly commented on #33
Hmm, a for...in loop would probably be easiest. But here's a one-liner using the es6 stuff:

[code]

[2016-03-17 15:16] slorber commented on #33
lol
i think i'll keep using lodash for now :)

[2016-03-23 08:36] dracupid opened #34 "Enforce a consistent code style"
I found some inconsistencies in the code style, especially the space around infix operators.
[code]
I think that it will be better to enforce a consistent style in this project, such as [JavaScript Standard Style](http://standardjs.com/) or anything else.

[2016-03-25 02:38] cht8687 commented on #34
hi @dracupid, thank you for pointing it out. I will look into this issue.

[2016-03-25 02:47] #34 closed

[2016-07-01 11:55] piotrkubisa opened #39 "Opera compatibility is misleading"
First, I'd like to thank you for creating this repository. It is great to read about native possibilities of browser. Unfortunately, I found "browser support" comparison very misleading, because ou noted that some of `_.*` functions are "Not supported" but it is not truth since Opera uses blink/chromium. When I saw it then I thought that you have taken into consideration only Opera based on Presto

[2016-07-01 12:09] AndreasHassing commented on #33
This should also work (and is immutable):
[code]

[2016-07-01 12:20] slorber commented on #33
@AndreasHassing does not support passing an array, unlike solution of https://github.com/cht8687/You-Dont-Need-Lodash-Underscore/issues/33#issuecomment-195823281

[2016-07-01 12:23] AndreasHassing commented on #33
@slorber wouldn't this work as wanted: `[1, 2, 3].without(2);`?

[2016-07-01 12:35] slorber commented on #33
I want to do what lodash do, and yes it supports array

[2016-07-01 23:57] pmcelhaney commented on #32
Looks like this is done so it can be closed.

[2016-07-02 01:58] cht8687 commented on #32
thank you!

[2016-07-02 01:58] #32 closed

[2016-07-02 14:53] pmcelhaney opened #53 "Default ESLint configs"
Now that individual ESLint rules have been broken out (+1, very nice work Steve!) we should add some default [configs](http://eslint.org/docs/developer-guide/working-with-plugins#configs-in-plugins) so that folks don't have to configure each individual rule.

I'm thinking we can provide a few options:
- you-dont-need-lodash-underscore:all (all rules set to warn)
- you-dont-need-lodash-underscore:a

[2016-07-02 15:16] cht8687 commented on #53
sounds a good idea Pat. @stevemao  thoughts?

[2016-07-02 23:19] stevemao commented on #53
Good idea!

[2016-07-03 00:28] stevemao commented on #53
Maybe another config to error on rules in which the native implementation exactly matches the _ ones but warn on rules that could be replaced by native?

[2016-07-03 00:47] stevemao commented on #53
I think this could mean two things:
1. signature of the function is exactly the same but the implementation might be different
2. `_` uses the native method

I tend to favour the first definition here for this module.

[2016-07-03 00:47] pmcelhaney commented on #53
Yes, if I understand correctly, that's what I would probably want as a default. Error if I know I can replace the _ function with a native function that works the same way. Warn if I may or may be able to switch to native depending on the use case.

That's the config I called safe-strict. I'm  not crazy about that particular name. If we put our heads together I bet we can come up a useful set of c

[2016-07-03 00:58] pmcelhaney commented on #53
I would say if the contracts match. For any given input the _ and native functions will produce the same output. I *think* that's what you meant by signature but want to be sure.

[2016-07-03 01:01] pmcelhaney commented on #53
BTW, the settings for the "compatible" flag at the moment may not strictly match any of these definitions. We need to review each rule carefully with respect to whether the native function is truly compatible with the _ function.

[2016-07-03 01:07] stevemao commented on #53
signature I mean the type of the parameters and return value are exactly the same. And it does exactly the same thing as the native method. The internal implementation/performance might be different.
A lot of array methods are not. EG: because `_` uses a stripped-down version of loop so it gains performance but doesn't work with sparse arrays.

[2016-07-03 01:08] stevemao commented on #53
Sorry yes, I misread your comment.

[2016-07-03 01:28] pmcelhaney commented on #53
Yeah, I can see how people might want to slice "compatibility" different ways:

1. As long as I can swap out the _ function with the native function and know my code won't break, I'm happy. I'm not concerned about sparse arrays because I don't use them (at least not intentionally).

2. I don't consider the native and _ to be compatible unless they behave exactly the same way for *all* inputs (incl

[2016-07-03 01:32] stevemao commented on #53
For a future smarter version, the linter should error/warn on `_.forEach(array)` but not `_.forEach(object)` (at least a different message) etc.

[2016-07-03 03:18] cht8687 opened #55 "To John-David Dalton ( Lodash creator)"
Dear John @jdalton,

I respect your work of Lodash.
I took your suggestions to put in [quotes](https://github.com/cht8687/You-Dont-Need-Lodash-Underscore/commit/e8ebad33b8c5dfe561ae0323fd7441e19d646a40) as you requested in my repo.
I included your comments as well as [voice of expert](https://github.com/cht8687/You-Dont-Need-Lodash-Underscore/commit/94ebbc7ffbfb9a72a688d24d91d7c694ea80b39c).
When

[2016-07-03 05:28] jdalton commented on #55
Hey @cht8687.

It wasn't harassment. It was a private message asking if I'd don't something to prompt a change of heart as @stevemao also created [You-Dont-Know-Lodash-Underscore](https://github.com/stevemao/You-Dont-Know-Lodash-Underscore) is all. Thanks for doing what you do though.

[2016-07-03 14:32] cht8687 commented on #55
@jdalton  Thank you for referencing my HN post as well. You are amazing to
find out every corner on the internet where there is a finger pointing at you. :smile:

You beat me John. You are the best person in the world. Lodash is the best JavaScript library in the world! :beers:

[2016-07-04 05:24] #55 closed

[2016-07-04 13:07] pmcelhaney opened #57 "You DO need Lodash"
As @stevemao and others have brought to my attention, there are cases where Lodash provides advantages over the native library. They can provide more consistency across implementations, better performance in typical real world use, or both.

Therefore I think the ESLint plugin should provide options to encourage changing native functions to _ equivalents. Similar to how the [no-semi](http://eslint

[2016-07-04 13:15] pmcelhaney opened #58 "Disallow aliases"
_ libraries sometimes provide the exact same function under multiple names, e.g. [each/forEach](https://lodash.com/docs#forEach).

The ESLint plugin should have options to require the use of one particular alias over the others.

[code]

[2016-07-04 13:16] cht8687 commented on #57
I agree with you. As long as we are helping developers. :+1:

[2016-07-04 13:17] stevemao commented on #58
I think this is out of the scope of this module.

[2016-07-04 13:21] pmcelhaney commented on #53
I've given it some more though and opened #57 and #58. Before we set any default configs, it makes sense to flesh out the options of the individual rules. There's an opportunity to add more nuance than simply which rules are warnings and which are errors.

[2016-07-04 13:25] cht8687 commented on #58
so Pat, are we helping to make a Lodash-Lint now? or just combine with both native alternatives with Lodash suggestions together?

[2016-07-04 13:31] cht8687 commented on #57
So in this case, our plugin is dynamic, can be configured to either alternatives => Lodash or Lodash => alternatives, is that what you are suggesting? @pmcelhaney

[2016-07-04 13:40] pmcelhaney commented on #58
Do'h. Didn't know that was a thing. :)

[2016-07-04 13:40] #58 closed

[2016-07-04 13:43] cht8687 commented on #58
This is a cool idea, I vote it.

[2016-07-04 13:54] pmcelhaney commented on #57
Yes. What I like about this repo is it educates me on the advantages and drawbacks of using a library like Underscore, et. al.

Using a linter helped me get up to speed with ES6 very quickly. I'm keenly interested in [the synergy between linting and learning](https://github.com/eslint/eslint/issues/6582).

[2016-07-07 20:19] mathieumg commented on #57
@pmcelhaney https://github.com/wix/eslint-plugin-lodash#preference-over-native

[2016-07-16 13:17] aug-riedinger opened #60 "Shimering all not-yet-available functions natively"
Glad to find out about this project. I was actually thinking of doing something similar lately.

For a while, people installed LoDash to have access to functions like `_.map()`, `_.reduce()` etc.

I have never been sure about this, but I think those library did not modify the `Array` object inner methods through `Array.prototype.map = function() {}` to avoid conflicts with the possibly existing na

[2016-07-16 23:17] stevemao commented on #60
There are already [projects](https://github.com/es-shims/es5-shim)

[2016-07-27 16:31] DanCouper commented on #60
Also,

a. `class MySuperDuperArray extends Array {}` is now a thing, if lacking in support a bit, and
b. if the bind operator is okayed, need/want to faff on with extending prototypes so as to retain the same semantics becomes moot - `['a', 'b']::zip(1, 2)` => `[['a', 1], ['b', 2]]`, `'Hello World'::kebabCase()` => `'hello-world'`

[2016-11-07 21:55] noderat opened #65 "Definitions not found for multiple methods"
I'm getting errors including what looks to be valid rules. Errors are occurring for these rules: findIndex, indexOf, lastIndexOf, forEach, reduceRight, after, isNaN, extendOwn, toLower, toUpper

[code]

[2016-11-08 09:23] cht8687 commented on #65
@noderat  opps~ I had a quick look and found it is used kebab-case for exporting the rules...
I am fixing it now. Thanks for reporting it.

[2016-11-08 11:01] stevemao commented on #65
See the docs

[code]

[2016-11-08 11:01] #65 closed

[2016-11-08 11:04] noderat commented on #65
@stevemao Ah, missed that since I was using the rule definition JSON to determine which rules applied since they weren't all explicitly laid out. camelCase is probably a better idea, since it matches the method names.

[2016-11-08 11:07] stevemao commented on #65
@noderat

See http://eslint.org/docs/rules/ or other eslint addons.

[2016-11-08 11:09] noderat commented on #65
Ah, indeed! Should explicitly mention the name of the rule in the README.md then to prevent future confusion

[2016-11-08 11:12] stevemao commented on #65
@noderat PR welcome. I agree it's not terribly obvious :)

[2016-11-17 04:32] alivelee opened #69 "fill support in Native ?"
I couldn't find any `.fill` method on array on the MDN

[2016-11-17 05:05] cht8687 commented on #69
is this the one you are looking for?

https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/fill

[2016-11-17 05:41] alivelee commented on #69
I search in dash and couldn't find anything

[2016-11-17 06:44] #69 closed

[2016-11-24 03:03] impressivewebs opened #72 "What are the checkmarks for?"
Maybe this is a dumb question, but next to the browser version numbers, there are sometimes checkmarks, sometimes not. Fore example:

https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#browser-support-2

Why does the Firefox version have a checkmark, but not Chrome or Safari? I couldn't find anything in the page to explain this. Although I did mostly just skim, so my bad if I missed

[2016-11-24 04:24] stevemao commented on #72
I think they are just missing @cht8687 ? @impressivewebs Thanks for reporting. PR welcome!

[2016-11-24 04:51] cht8687 commented on #72
yep. They are missing sicne this commit https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/commit/bdb702775ea1a31d4573804458afe56825b32539

[2016-11-28 18:56] noderat commented on #65
@stevemao Looks like the rule for `_.after` doesn't exist still but is in the README.

[2016-11-28 22:10] stevemao commented on #65
@noderat please open an issue for other problems. Thanks :)

[2016-12-14 20:04] mockdeep commented on #53
Would love to have an `all` that defaults to `error` and any reasonable default config. This is similar to [`eslint:all`](https://github.com/eslint/eslint/blob/master/conf/eslint-all.js) and [`plugin:react/all`](https://github.com/yannickcr/eslint-plugin-react/blob/master/index.js). I'm happy to selectively disable or configure things myself.

[2017-01-03 09:43] Vadorequest commented on #53
Really good idea, I just found out about this repo and I was wondering how to setup all rules to errors in a simple way.

[2017-03-19 23:30] stevemao commented on #57
I think https://github.com/wix/eslint-plugin-lodash#preference-over-native provides a good solution for this. Reopen this if you disagree.

[2017-03-19 23:30] #57 closed

[2017-03-20 11:34] #60 closed

[2017-03-22 21:46] #53 closed

[2017-03-23 07:31] alexesDev opened #75 "Equivalent of _.minBy and _.maxBy"
Can I add examples to this project?

min-by.js
[code]

max-by.js
[code]

[2017-03-23 11:08] cht8687 commented on #75
@alexesDev , yep... would you like to submit a PR? 😄

[2017-03-23 11:59] alexesDev commented on #75
I do not speak English well. Its a big problem for PRs :smile:

[2017-03-24 22:39] stevemao commented on #33
Can we close this issue?

[2017-03-25 00:07] tracker1 commented on #33
It's a pretty easy oneliner for without...

    const without = (array, filtered) => array.filter(n => n != filtered);

    without([1,2,3], 2); // [1,3]

Stuff like this, I'll just inline at the top of the relevant script, as import boilerplate is often bigger than the snippet.

[2017-03-25 02:36] stevemao commented on #33
PR welcome to add this :)

[2017-03-29 10:49] #75 closed

[2017-04-15 07:49] #33 closed

[2017-04-23 13:16] stevemao opened #82 "lodash fp"
I don't think the linter should error/warn if user is importing lodash fp. Thoughts?

[2017-04-23 13:44] cht8687 commented on #82
no, we should throw error/warn even it is Lodash FP... that's what the purpose of this project for...

[2017-04-23 23:02] #82 closed

[2017-04-24 17:30] #72 closed

[2017-05-15 15:09] keithkml opened #88 "Cannot find module 'eslint-config-you-dont-need-lodash-underscore:compatible-error'"
I'm not sure what I'm doing wrong. I installed `eslint-plugin-you-dont-need-lodash-underscore` via NPM but ESLint can't find any of the configs.

Note that ESLint *can* find the plugin - when I enable a rule like `"you-dont-need-lodash-underscore/for-each": "error",` eslint runs successfully.

[code]

[2017-05-15 15:17] keithkml commented on #88
After some Googling I found this syntax:
[code]
That seems to "work" but now I get a bunch of weird errors:

[code]
etc etc - same errors for every file.

[2017-05-16 06:21] stevemao commented on #88
Sorry about that. Could you try https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/89?

[2017-05-16 12:34] keithkml commented on #88
Sure, how do I do that? Can I point NPM to a pull request or something?

[2017-05-16 12:57] stevemao commented on #88
@keithkml I use usually `npm link`.

[2017-05-17 18:46] keithkml commented on #88
Looks great!

[2017-05-17 22:51] stevemao commented on #88
Thanks for trying it out @keithkml 😄

[2017-05-17 22:52] #88 closed

[2017-05-17 22:57] stevemao commented on #13
Do we still need to worry about IE in 2017?

[2017-05-18 00:22] cht8687 commented on #13
@stevemao :joy: Lot's of applications still running in IE, especially Banking or government websites....

[2017-05-18 02:30] stevemao commented on #13
It's very easy to add a polyfill in most of the cases.

[2017-05-30 23:01] tracker1 commented on #13
IE 9-11 is really heavily used, more so in more conservative industries (banking, military contractors, etc), so yeah... IE11 is the last version for Windows prior to 10, no Edge support...

[2017-05-31 11:23] cht8687 commented on #39
@stevemao @inuscript  What do we do for this ticket?

[2017-06-01 18:29] piotrkubisa commented on #39
How about writing some cross-browser tests (Karma, Selenium, SourceLabs, Browserstack) to confirm is specified code works or not?

You have given many claims that something is supported or not without any proof. If you refer to MDN or [CanIUse](https://caniuse.com/), I would like to suggest giving a direct link to page where you may find table with compatibility, because if you just link *MDN* it

[2017-06-02 12:31] stevemao commented on #39
@piotrkubisa Can you send a PR to fix what exactly is wrong with the current browser support tables? I think adding other interesting things like you guys mentioned could be discussed in a different issue.

[2017-08-03 14:02] thelordgabo opened #97 "very useful lodash functions that are NOT in es6, es7, es8"
I am totally agree using native functions like filter, map, reduce, findIndex,  etc over the lodash ones, but I found useful some lodash functions like:

1. _.has()
let test1 = {
  a: {
    b:{
      c: {
        d: 56
      }
    }
  }
}
// es6:
if(test1 && test1.a && test1.a.b && test1.a.b.c && test1.a.b.c.d){console.log('foo')}
// lodash:
_.has(test1, 'a.b.c.d')
2. _.chunk()
3. _.isPlainObject(

[2017-08-03 23:38] stevemao commented on #97
We never said that none of the functions are useful. The point of this project is to not over use some modules like lodash/underscore and we see a lot of people do.

[2017-08-03 23:38] #97 closed

[2017-08-03 23:57] cht8687 commented on #97
thanks for sharing your knowledge @thelordgabo !

[2017-08-18 21:20] heygrady opened #98 "Should error / warn when using import or require"
These days there are lots of ways to pull in a lodash function. I would expect each of these to generate errors.

[code]

I was surprised that this wasn't generating errors in my project. Did I miss something?

[2017-08-19 23:01] stevemao commented on #98
I'm not sure how to do it. Ideas welcome!

[2017-08-22 15:55] heygrady commented on #98
There are probably some clues in the [official lodash plugin](https://github.com/wix/eslint-plugin-lodash). They have some presets for [preferring lodash over native](https://www.npmjs.com/package/eslint-plugin-lodash#preference-over-native). I found your plugin when I was looking for the exact opposite :) The recent 2.0 of the official plugin now supports [single method imports and destructuring]

[2017-08-22 23:52] stevemao commented on #98
@heygrady Could you send us a PR?

[2017-10-02 14:20] eNdiD opened #100 "Is not iterable error with native impementation of _.flatten"
Tested on Google Chrome 61.

`[1, [2]].reduce((a, b) => [ ...a, ...b ], [])`

returns error:
[code]
But if I pass string instead of number, works fine:
[code]

[2017-10-02 22:57] stevemao commented on #100
@eNdiD PR welcome  :)

[2017-11-02 15:04] karolisgrinkevicius opened #106 "_.isArray"
Hi! Nice plugin! What about `_.isArray` rule which could be natively replaced by `Array.isArray`?

[2017-11-02 23:11] stevemao commented on #106
@karolisgrinkevicius Please send us a PR. This also needs to add to the ESLint :)

[2017-11-03 07:12] karolisgrinkevicius commented on #106
@stevemao PR is already created https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/107.

[2017-11-05 02:13] #106 closed

[2017-11-05 02:13] stevemao commented on #106
PR merged :)

[2017-11-29 00:41] #100 closed

[2017-12-04 12:44] cb504 opened #110 "_.reverse is marked as "lodash only" but there is a native implementation"

[2017-12-04 23:07] stevemao commented on #110
@cb504 Just send us a PR

[2017-12-06 16:21] mems opened #111 "`_.groupBy` equivalent"
[code]
An other example:

[code]

[2017-12-06 22:25] stevemao commented on #111
The native version is significantly longer and more complicated.

[2017-12-06 22:53] cht8687 commented on #111
The shorter version looks fine.

[2017-12-07 11:47] mems commented on #111
If you want a more short version, you can use one char variables:

[code]

[2017-12-07 23:27] stevemao commented on #111
PR welcome if @cht8687 is fine with it :)

[2017-12-07 23:30] cht8687 commented on #111
Go ahead with it... 👍

[2017-12-13 22:58] #111 closed

[2018-01-16 09:50] iabotsiTC opened #115 "Proposition for _.set equivalent"
Hi,
Thank you for this repo, it gaves me lot of ideas to refactor my code.
I would like to suggest a replacement for the `_.partial` method, using Rest and Spread operators of ES6:

Create a function that calls _func_ with _args_.

[code]

What do you think of it? Is there any flaw?

[2018-01-16 23:15] stevemao commented on #115
Sounds good to me. PR welcome then.

[2018-01-20 13:48] arnas opened #117 "lodash _.times"
What about _.times function. There is es6 Array.from, which lets somewhat replicate that function.
`let out = Array.from(Array(10), (_,x) => x);`

// [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[2018-01-22 03:16] stevemao commented on #117
PR welcome!

[2018-02-23 07:09] cht8687 opened #118 "missing _.assign in the rules"
missing _.assign in the rules

[2018-02-23 07:11] cht8687 opened #119 "missing _.extend in the rules"
missing _.extend in the rules

[2018-02-23 11:18] lamhieu-vk commented on #118
what do you find?

`https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_assign`

[2018-02-23 11:37] lamhieu-vk commented on #118
I just update rules for Object _.assign, you can [read more here](https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/120)

[2018-03-14 07:22] Kaesebrot84 opened #121 "Missing _.cloneDeep(value)"
There is no entry for [`_.cloneDeep(value)`] (https://lodash.com/docs/4.17.5#cloneDeep). I am not really sure  whether this makes any sense. But [here](https://dev.to/ptasker/best-way-to-copy-an-object-in-javascript-827) it is suggested that the following expression can clone (at least) objects.

[code]
For further information see [this StackOverflow question](https://stackoverflow.com/q/122102/75

[2018-04-13 10:42] shhac opened #125 "_.each for Collections"
Can be achieved with `Object.entries` and `arr.forEach`

[code]

This pattern also works on _Array_ (though I don't know why you'd use it over a regular `.forEach` for that)

[2018-04-18 20:44] FranklinYu opened #126 "padStart and padEnd"
`_.padEnd` / `_.padStart` has corresponding ES6 methods.

[2018-04-19 00:27] stevemao commented on #126
PR welcome

[2018-04-28 15:33] gnapse opened #127 "trimStart and trimEnd"
I think `.trimStart` and `.trimEnd` are easily replaceable:

[code]

Just wanted to make sure it's ok and that I'm not missing anything here, so I can add a PR to add this to the README.

[2018-04-29 05:46] stevemao commented on #127
Thanks @gnapse
PR welcome

[2018-05-02 15:36] stevenvachon opened #128 "_.bind"
[`_.bind`](https://lodash.com/docs/4.17.10#bind) has been replaced with [`Function#bind`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_objects/Function/bind) ~~and [arrow functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions) (when using `this`)~~.

**Edit**: arrow functions do not support `new`, so they aren't a complete

[2018-05-04 22:09] #128 closed

[2018-05-07 01:26] stevenvachon commented on #13
Some features, such as `Object.assign`, have a rule despite having no implementation in IE. I think that this issue can be closed.

[2018-05-07 01:27] stevenvachon commented on #121
That's not a complete replacement because JSON does not support other objects such as functions, dates and regular expressions.

[2018-05-07 01:29] stevenvachon opened #130 "missing _.partial and _.after in the rules"

[2018-05-07 01:38] stevenvachon commented on #127
I disagree. I'd prefer to not have needless regex in my code.

[2018-05-07 04:26] stevemao commented on #130
Sounds good to me

[2018-05-07 04:28] #118 closed

[2018-05-07 11:06] gnapse commented on #127
Isn't this repo about recommendations to users of lodash of when they *could* go by with a relatively simple native alternative? I understand that some users may still prefer lodash's way of doing some particular task, and that's fine. This repo is not forcing anyone to follow all the native alternatives presented.

[2018-05-07 11:52] terrierscript commented on #127
I agree to this ( and PR welcome 😃 )

[2018-05-07 12:29] stevenvachon commented on #127
I guess, but it's going to cause a detailed initial configuration or annoying future changes when the "all" preset is too restrictive.

[2018-05-07 14:53] stevemao commented on #127
I think you are talking about the eslint config?

[2018-05-07 14:57] stevenvachon commented on #127
Isn't that the function of this project? But, yes, and this specifically: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/blob/master/configuring.md#now-configure-your-plugin

[2018-05-07 15:41] gnapse commented on #127
For me the real benefit of this project, including its eslint configuration, is to remove unnecessary code from my bundles when I can go by with a lighter alternative. If you take a look at [`trimEnd`'s implementation](https://github.com/lodash/lodash/blob/master/trimEnd.js) you'll see that it's not at all a one liner or anything like that. It even depends on a few other lodash internal stuff (the

[2018-05-08 00:25] stevemao commented on #127
The eslint doesn't really include things like these. Only the simple ones like `concat()` or `map()` (the ones you can easily replace lodash with the corresponding native methods). However, the readme can go a bit future as per @gnapse mentioned above.

[2018-05-08 00:31] stevenvachon commented on #127
I see the readme as a good support for the eslint config. The primary goal is to be told "you don't need this".

[2018-05-12 07:41] truongsinh opened #131 "Collection iteration on objects works as well"
[code]
Although the browser support may vary, and some people don't like the verboseness. Is this something worth mentioned? I'm happy to make PR

[2018-06-05 15:11] jacktuck commented on #117
@edysegura Not quite, lodash optionally takes a `iteratee` so OPs solution fits i think.

[2018-06-07 17:29] gnapse opened #132 "isNil/isNull are trivial and most people probably do not need them"
Lodash's `isNil(value)` is equivalent to `value == null`. That's even [how it's implemented](https://github.com/lodash/lodash/blob/b8dfb7cc1470c5135b577b1c18195c9b4f710798/isNil.js#L20).

Wouldn't this be noteworthy to mention in this repo as well?

**Update:** The same applies to `isNull(value)`, which [is equivalent](https://github.com/lodash/lodash/blob/b8dfb7cc1470c5135b577b1c18195c9b4f710798/

[2018-08-08 07:02] ehmicky opened #135 "Add a CHANGELOG"
Thanks for this project! Would it be possible to add a `CHANGELOG`? This helps users keep track of new versions and features.

[2018-08-09 11:48] rockmandash commented on #117
My implementation using native `Array.from`
[code]

[2018-08-11 05:37] cht8687 commented on #135
@stevemao We need your conventional-change-log :smile:

[2018-08-19 20:12] VitorLuizC commented on #121
[code]

[2018-08-30 16:18] ooade opened #138 "_.omit for collections"
Omitting can easily be done this way:
[code]

[2018-09-03 07:56] pozylon commented on #138
[code]

[2018-09-03 08:12] ooade commented on #138
@pozylon what about objectWithoutA, [a - e] Object without AB, or without AD, or something else?

[2018-09-03 19:26] ooade commented on #138
Well, spread op approach takes out the omit method. Wow!

[2018-09-04 05:26] stevemao commented on #138
PR welcome

[2018-09-04 07:28] ooade commented on #138
Go for it @pozylon :muscle:

[2018-09-04 07:30] pozylon commented on #138
Your turn, sir. I didn't recognize that _.omit was not in the list and your English is better for the doc stuff :P

[2018-09-26 14:14] ODudek commented on #131
![entries](https://user-images.githubusercontent.com/20043951/46085720-ed9cac80-c1a6-11e8-81b3-f507e282a641.jpg)
Support for `entries`. I think you can make PR for it.

[2018-10-01 04:31] nebulousdog opened #145 "flat/flatten update"
to add to the [`_.flatten`](https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_flatten) example, there is a native `flat`.

supplemental:
* https://alligator.io/js/flat-flatmap/
* https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/flat
* https://github.com/zloirock/core-js/blob/master/packages/core-js/modules/esnext.array.flat.js

[2018-10-03 14:45] grundiss opened #147 "Use optional chaining operator instead of _.get"
Hi!
I have a feature request. It would be cool to have `you-dont-need-lodash-underscore/prefer-optional-chaining-operator` rule, which enforces using `foo?.bar?.buz` instead of `_.get(foo, 'bar.buz')`.

[2018-10-03 14:47] grundiss commented on #147
Of cause this rule should not be included in recommended, as optional chaining operator is not in standard yet.

[2018-10-03 21:36] nebulousdog opened #148 "need a uniq-by attribute example"
need to extend `_.uniq` alternative examples to include uniq'ing by an attribute.

example:
[code]

https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_uniq

[2018-10-06 00:46] nebulousdog opened #149 "support rule documentation links for plugins"
support you-dont-need-lodash-underscore rule documentation links for plugins

when I click the anchor link I get landed here: https://github.com/jfmengels/eslint-rule-documentation/blob/master/contributing.md

![contributing-screenshot](https://user-images.githubusercontent.com/2218331/46565658-5f22dc00-c8c6-11e8-8403-6699b0e13694.png)
screenshot taken using atom eslint plugin. https://atom.io/pac

[2018-10-09 17:36] arnas commented on #117
Created pr https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/150

[2018-10-11 22:48] #117 closed

[2018-10-28 04:09] #132 closed

[2018-11-30 00:52] yarnball opened #157 "fix(uniq): incompatible with Internet Explorer"
Hi

Firstly- great repo.

I've found an issue with `_.uniq` and Internet Explorer (IE). In your docs, it says your example supports IE. It does not., it IE does not support `new Set(iterable)`

See screenshot from `mdn` below:
![screen shot 2018-11-30 at 11 30 03 am](https://user-images.githubusercontent.com/13043067/49261416-39fdb480-f496-11e8-8a4b-e2d6669de3b9.jpg)

So, in the example for `uniq`

[2018-11-30 01:08] stevemao commented on #157
PR welcome to add it

[2018-11-30 03:39] yarnball commented on #157
Cheers, done

#158

[2018-11-30 03:39] #157 closed

[2018-12-04 15:58] chandresh commented on #138
@pozylon @ooade

Is there a way to use it in a function and pass an array like _.omit? Something like:
omit(object, ['a', 'c']); // => { 'b': '2' }

[2018-12-04 17:42] ooade commented on #138
@chandresh One way to achieve that is writing it the initial proposed omit function but IMO, I don't think you need to do that. The spread/rest operator works just fine.

[2018-12-05 19:14] chandresh commented on #138
@ooade Yes I ended up using a version of the initially proposed one. I think having a function makes it more readable. Thanks anyway.

[2018-12-12 11:24] Berkmann18 commented on #119
@stevemao Done.

[2019-01-10 21:39] chrisgarber opened #164 "Null safety"
First of all thanks so much for this library, love using this plugin to remove old lodash uses.

I wanted to quickly broach the topic of null safety; many functions in lodash, e.g. _.keys, _.entries are null safe. The same safety can be achieved by using the native methods like so: `Object.keys(value || {})` As this could be breaking for those of us converting, it would be great if this were menti

[2019-01-10 22:12] stevemao commented on #164
I think putting it in `rules.json` is too wordy. Maybe we should add a note in readme?

[2019-01-11 16:08] chrisgarber commented on #164
Sure, do we want examples for each instance where the null safety applies? One large general note?

[2019-01-12 05:06] stevemao commented on #164
I think a large general note is enough. What do you think?

[2019-01-29 00:03] #119 closed

[2019-01-30 17:02] maurer2 opened #166 "InRange results are different when start and number are identically"
Hello, I noticed that the results of lodash and the replacement function differ, when start and number are the same:

[code]
Results:

[code]

Here's an example: https://jsfiddle.net/xs0pfejn/

Cheers

[2019-02-02 02:53] stevemao commented on #164
Thanks @chrisgarber , PR welcome :)

[2019-02-07 02:25] jwallet commented on #115
partial is on master, should be closed

[2019-02-07 03:33] #115 closed

[2019-02-14 07:42] EddyLuten commented on #121
@VitorLuizC it's still a shallow copy, not a drop in for deepClone:

[code]

I'd love to see a decent replacement for deepClone since it's one of the few reasons that lodash is still part of our codebase.

[2019-02-14 23:21] stevemao commented on #121
I personally avoid any `cloneDeep`.

[2019-03-06 19:43] gsklee opened #177 "_.isEqual()"
Granted, I'd like to rid our project clean of Lodash stuff as you do, but as soon as I saw `_.isEqual()` usage I knew it's not gonna be straightforward. AFAIK there is still no easy way to do this even with ES2019 - or is there actually one? Please do add it into the README if it exists!

[2019-03-06 23:55] stevemao commented on #177
@gsklee PR welcome

[2019-03-07 00:11] cht8687 commented on #177
@gsklee

Yes, I think you are right. _.isEqual() compares a wide range of data structures.
From Lodash doc:
[code]

what is your special use case for this function? is it possible to simplify it based on the data structure of your project? for example, if they are just numbers or strings, we probably can narrow down to only compare certain types.

thoughts?

[2019-04-06 16:55] clujin opened #178 "_.get example is broken"
The current native implementation of `get` is broken in the example:

[code]

The `split` currently doesn't deal with the `[]` notation. In fact, it skips a subclass of cases were the path is nothing but brackets `[0][1]`.

Also another minor issue is that `a[c]` may return a falsey value of `0` which will return the defaultValue instead of `0`.

[2019-04-08 08:13] jakubzloczewski opened #180 "_.omit when property name comes from variable"
Any ideas how to replace _.omit when property name is from variable?

[code]

[2019-04-12 09:33] GeorgeWL opened #181 "_.times doesn't entirely match lodash behaviour"
There's a secondary usage which is quite commonly used, such as to populate an array for tests, of
[code]
that I've seen used before, to have it run the same function a set number of times.

[2019-04-12 10:40] stevemao commented on #181
PR welcome

[2019-04-12 11:29] GeorgeWL commented on #181
I'll think about a way to mirror that and PR when I have.

[2019-05-04 03:49] gmbwa commented on #121
try JSON.parse(JSON.stringify(THE_OBJECT or THE_ARRAY))

[2019-05-14 17:55] ovidiubute opened #190 "New release?"
Hi guys,

Just wanted to better understand what is the release process like. I'm looking at the GitHub releases section and it's been around a year since the last one. There have been a lot of new functions added since then, so when do you plan on cutting a new release from the master branch?

Thanks

[2019-05-23 18:41] ovidiubute commented on #190
Any thoughts on when you'll release a new version to npm?

[2019-05-24 08:28] stevemao commented on #190
Done. Thanks

[2019-05-24 08:28] #190 closed

[2019-05-24 23:06] fabiomcosta commented on #98
@stevemao is there still interest in this?
I might be able to help

[2019-05-24 23:18] stevemao commented on #98
Yes please :)

[2019-05-24 23:30] fabiomcosta commented on #98
Ok great =D, created a PR for that: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/195

[2019-05-24 23:35] fabiomcosta commented on #98
To be clear, the PR only adds support for `import { fn } from 'lodash'` and not support for `require`.

[2019-05-25 06:11] stevemao commented on #98
@fabiomcosta If you are still interested to do `require`, https://github.com/you-dont-need/You-Dont-Need-Momentjs/blob/master/lib/rules/no-require-moment.js
Is how you can do it. Cheers!

[2019-05-25 16:07] fabiomcosta commented on #98
Yeah I can add require support as well, just didnt want fix both of them on
the same PR

On Fri, May 24, 2019 at 11:12 PM Steve Mao <notifications@github.com> wrote:

--
--
Fabio Miranda Costa
*twitter:* @fabiomiranda
*github:* fabiomcosta

[2019-05-25 17:36] fabiomcosta commented on #180
@jakubzloczewski this worked for me:

[code]

[2019-05-25 17:39] fabiomcosta opened #196 "Add `isNil` to eslint plugin"
Similarly to `isUndefined` and `isNull`, `isNil` is pretty easy to implement and we should probably add to the eslint plugin.

Is there any argument agains that?

Past related issues: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/issues/132

[2019-05-25 19:29] fabiomcosta commented on #98
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/197
adds support for `require` as well

[2019-05-27 03:00] stevemao commented on #196
PR welcome.

[2019-05-27 03:01] stevemao commented on #180
PR welcome

[2019-05-28 02:44] fabiomcosta commented on #180
@stevemao I think this issue can be closed TBH, it was more of a question.
Or did you think this should be documented?

[2019-05-28 03:18] stevemao commented on #180
Either way is fine with me. If anyone wants to improve the docs PR welcome :)

[2019-05-28 03:18] #180 closed

[2019-05-29 03:52] #98 closed

[2019-05-30 09:01] #126 closed

[2019-06-04 23:43] #196 closed

[2019-06-06 07:16] kevinrodriguez-io commented on #180
Just to add to this thread:

In this scenario:
[code]

[code]
Can be anything, like: `[propertyNameToRemove]: _` or `[propertyNameToRemove]: $`

[2019-06-18 13:44] luiscarbonell opened #201 "_.isInteger()"
**Old**

[code]

**New**

[code]

[2019-06-19 02:37] stevemao commented on #201
PR welcome

[2019-06-24 16:26] ouassimBenMosbah commented on #121
Here is a working solution insipred by the code in [this article](https://medium.com/@Farzad_YZ/3-ways-to-clone-objects-in-javascript-f752d148054d)

[code]

[2019-06-24 16:33] stevenvachon commented on #121
I think this function is a reason to use lodash/underscore.

[2019-06-24 17:06] #121 closed

[2019-06-30 15:56] bmpGames opened #204 "_.get is broken, not support deep path"
Now _.get is broken :(
Because we are trying to get property of defaultValue in a next iteration

[code]

_Originally posted by @bmpGames in https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/179#issuecomment-502350293_

[2019-07-02 03:51] bmpGames opened #206 "Many random problems.."
There is some problems with this code
[code]
1) don't mess with recursion
`random(100000, 100001)`
**expectation**: 100000 or 100001
**reality**: Maximum call stack size exceeded
2) it does not support integer at all!
`random(5)`
**expectation**: 0-5
**reality**: floating-point, e.g. 2.42354365234

[2019-07-03 04:56] #204 closed

[2019-07-04 21:34] Dentxinho opened #208 "Underscore.js OOP style doesn't report as negative"
The rules only report negatives when using Undercore's functional style.
When using [OOP Style](https://underscorejs.org/#oop) it doesn't work:

![image](https://user-images.githubusercontent.com/1199765/60688206-1fefde80-9e8a-11e9-9e52-3fbf3771b27c.png)

[2019-07-05 01:08] stevemao commented on #208
@Dentxinho PR welcome

[2019-07-05 06:52] tvedtorama commented on #180
I did the following, in Typescript, to support lists of properties to remove:

[code]

I can't guarantee that this is neither the most efficient, nor the most true to the lodash implementation, but it's simple and seems to work.

[2019-07-08 14:25] sinh117801 opened #209 "Min and Max method"
I feel like there are missing method min and max.

[2019-07-08 17:07] #209 closed

[2019-07-24 17:35] styfle commented on #145
This is no longer experimental and has been standardized.

Browser support looks pretty good too.

<img src="https://user-images.githubusercontent.com/229881/61815211-becb8300-ae17-11e9-8537-5e15b8416eb2.png" width="300" />

[2019-07-24 18:14] nebulousdog commented on #145
@styfle hooray

![image](https://user-images.githubusercontent.com/2218331/61817754-1cee6b00-ae04-11e9-8a30-f6ae0d18c278.png)

https://tc39.es/proposal-flatMap/#sec-Array.prototype.flat

[2019-07-25 00:10] stevemao commented on #145
Please send a PR

[2019-08-05 02:57] stevenvachon opened #212 "Module support not working"
This asserts a lint error:
[code]
…while this does not:
[code]

Here's my config:
[code]

Per #98, this should be working.

[2019-08-07 16:03] stevenvachon commented on #212
Ah, there was never a release for that PR. Please make a `6.6.0` release!

[2019-08-07 23:44] cht8687 commented on #212
@stevemao we can have `6.6.0` release now.

[2019-08-08 14:19] cht8687 commented on #212
@stevenvachon
Hi Steven, please check the new release.
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/releases/tag/v6.6.0

[2019-08-08 14:19] cht8687 commented on #212
closing this for now.

[2019-08-08 14:19] #212 closed

[2019-08-08 14:23] stevenvachon commented on #212
@cht8687 thanks!

[2019-08-09 14:55] cht8687 commented on #181
@GeorgeWL any update on this 😄 ?

[2019-08-09 14:57] cht8687 commented on #178
thanks! 👍

[2019-08-09 14:57] #178 closed

[2019-08-09 15:01] cht8687 commented on #166
This can be closed now.

[2019-08-09 15:01] #166 closed

[2019-08-09 15:05] cht8687 commented on #149
@nebulousdog PR welcome

[2019-08-09 16:19] GeorgeWL commented on #181
I gave up ha

[2019-08-28 09:43] vjarysta commented on #201
I guess this issue can be closed, since #214 has been merged.

[2019-09-02 11:45] #206 closed

[2019-09-02 11:46] cht8687 commented on #181
@GeorgeWL 😢

[2019-09-07 17:05] derek-adair opened #217 "When DO you need lodash?"
Maybe a bit silly; but it could be an interesting bit of contrast to show which methods you actually MAY NEED underscore or lodash for!

Cool project by the way.

[2019-09-18 20:14] BlueRaja commented on #217
When it makes the code easier to read.  Which is, ironically, most of the use-cases shown on this page.  Like seriously, who in their right mind would think that
[code]
is an acceptable replacement for
[code]

[2019-09-29 08:19] cjtaylor1990 commented on #208
I'll try my hand at fixing this, assuming that this is still an issue.

[2019-09-29 08:53] stevemao commented on #208
Yes it is :)

[2019-10-01 17:34] aalfiann commented on #217
When you are working in a team which is your code must be easy to read and when you dont worry about the performance.

[2019-10-01 17:40] aalfiann commented on #125
Object.entries is available in ES7 so you might getting error when use it in NodeJS6.

[2019-10-02 00:39] stevemao commented on #217
I suggest you to look at ramda, which has more functional utils.

[2019-10-02 00:39] #217 closed

[2019-10-02 00:40] stevemao commented on #125
@aalfiann as long as we specify the right browser support it should be fine.

[2019-10-03 05:41] cjtaylor1990 commented on #208
I think I figured it out. I'll push soon. It's essentially a weird case where the OOP style doesn't read quite right (essentially, there's a deeper layer inside of the callee object that holds the _ name). It ends up being callee.object.callee.name rather than just callee.object.name.

[2019-10-03 05:49] cjtaylor1990 commented on #208
Okay, just submitted a pull request. Hopefully everything looks good on your end. If it doesn't, just tell me and I can try some more.

[2019-10-03 16:17] cjtaylor1990 opened #220 "Linked List Python File Is Incorrect"
The file "Data Structures/Linked List/python/linked_list.py" is incorrect as it uses both the Python2 and Python3 print statement styles. This is an easy fix, but as it isn't what I requested to work on, I thought I'd let you know.

[2019-10-04 02:29] #220 closed

[2019-10-04 02:29] cjtaylor1990 commented on #220
This was made on the long repository. I apologize for the spam!

[2019-10-06 02:50] #208 closed

[2019-10-07 15:05] derek-adair commented on #217
@stevemao  - So... when you think you "need" lodash just use ramda?  It seems like *exactly* what I want out of lodash!

Why *I* use lodash...

1. Immutable methods (which not all of them are D:)
2. Null safe methods
3. Easy to read

To me it seems like, as a javascript dev, I want to balance readability with performance.  Taking @BlueRaja 's example - i'd MUCH prefer _.difference, assuming it's p

[2019-10-07 22:41] stevemao commented on #217
I feel ramda is a much better functional programming helper lib. It follows fantasy land spec so works with libs like sanctuary out of the box.

[2019-10-09 06:12] cjtaylor1990 commented on #181
@GeorgeWL Could this be accomplished with either the .forEach or .map Array methods?

[2019-10-09 08:23] GeorgeWL commented on #181
I believe so yeah

I'll quickly try in node. To get the exact behaviour you'd probably have to make a custom function that if it has a second argument does for each, else does the map.

[2019-10-09 09:19] GeorgeWL commented on #181
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/222

[2019-10-10 03:05] cjtaylor1990 commented on #110
@stevemao I think there is a bit of confusion in your README:

<img width="939" alt="Screen Shot 2019-10-09 at 11 01 59 PM" src="https://user-images.githubusercontent.com/9288608/66535888-2cb74a80-eae9-11e9-91b1-68648aeda7cd.png">

[2019-10-10 04:01] cjtaylor1990 commented on #164
@stevemao If this issue is still up for grabs, I can do it at the same time I handle #110

[2019-10-10 04:55] stevemao commented on #164
@cjtaylor1990 Thanks buddy :)

[2019-10-10 04:56] stevemao commented on #110
@cjtaylor1990 of course. Any improvements is welcome :)

[2019-10-11 06:45] jsjain commented on #177
Hello, @stevemao Can i take up this issue and submit a PR ?

[2019-10-13 18:34] cjtaylor1990 commented on #164
Issue handled in #223

[2019-10-13 18:34] #164 closed

[2019-10-13 18:35] cjtaylor1990 commented on #110
Issue handled in #223

[2019-10-13 18:35] #110 closed

[2019-10-16 12:56] jsjain commented on #177
I have implemented this sample [isEqual gist](https://gist.github.com/jsjain/a2ba5d40f20e19f734a53c0aad937fbb) will this be fine ?

[2019-10-16 13:38] cjtaylor1990 commented on #177
@jsjain It still doesn't cover all cases that _.isEqual does. For example,

`let buffer = new ArrayBuffer(16);
let other = new ArrayBuffer(16);

console.log(isEqual(buffer,other));
console.log(_.isEqual(buffer,other));`

would print out:

`false
true`

I think this is likely going to be pretty difficult to be able to handle all possible cases without having a bloated function.

[2019-10-16 13:44] jsjain commented on #177
yes, I implementation only covers common use cases, adding all cases would result in bloated function, should I go ahead on implement those or this would be ok, with readers note to use only for supported cases.

[2019-10-16 14:23] cjtaylor1990 commented on #177
@jsjain We'll see what the others say. @cht8687 @stevemao

Personally, I think this may be a bit problematic. The issue is, if we would like to take your function and put it as an alternative in the rules file (./lib/rules/rules.json) for a new "isEqual" rule, then Eslinter is always going to pick up the use of _.isEqual, regardless of the use case, and then suggest the use of your function. If th

[2019-10-16 14:50] akinjide opened #225 "TypeError: Cannot read property 'callee' of undefined"
VERSION: `^6.7.1`
NODE VERSION: `v8.9.3 (npm v5.5.1)`

Throws error:
[code]

in `lib/error.js`

[code]

It seems like an issue with the recent version of `eslint-plugin-you-dont-need-lodash-underscore`. Using an older version, 6.7.0 works.

[2019-10-16 15:01] cjtaylor1990 commented on #225
Likely a similar issue to what was just fixed in #221.

If you would want to try to fix it, in lib/rules/all.js, try changing:
`
const objectName = callee.name || (callee.object && callee.object.name) || (callee.object.callee && callee.object.callee.name);
`
to

`
const objectName = callee.name || (callee.object && callee.object.name) || (callee.object && callee.object.callee && callee.object.call

[2019-10-16 15:14] akinjide commented on #225
Thank you. Do you have an ETA for the next version?

[2019-10-16 18:18] jsjain commented on #177
Thank you @cjtaylor1990 for the feedback, I completely agree with you, my idea was to just give a basic function in readme file, which would have been sufficient for most and inspiration for the rest.

[2019-10-17 05:47] cht8687 commented on #225
I can do a patch release for this once it's been fixed. @cjtaylor1990

[2019-10-17 05:51] cjtaylor1990 commented on #225
@cht8687 This is fixed by #221, even though the cause of the error was different. I could add a test to make sure the linter can handle sub-classes like this though, just to be thorough.

[2019-10-17 05:58] cht8687 commented on #225
sorry, I misunderstood the question. all good. it's released.

https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/releases/tag/v6.7.2

[2019-10-17 06:00] cjtaylor1990 commented on #225
@akinjide There you go. A new version has been released. Let us know if that clears everything up.

[2019-10-17 09:00] #225 closed

[2019-10-18 13:09] jsjain opened #226 "debounce native alternative ?"
I was hoping if we can add debounce native implementation again using lodash for that ?

[2019-10-18 22:19] cjtaylor1990 commented on #145
@stevemao @cht8687 I noticed that they did a PR where they added it in the README file, but not in the rules or the tests. Want me to handle this?

[2019-10-18 22:22] cjtaylor1990 commented on #125
@aalfiann Seems like Node 7 supports it https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries

[2019-10-18 22:23] cjtaylor1990 commented on #125
@stevemao Want me to handle this one? I can put it in the README, rules, and tests.

[2019-10-18 23:12] cht8687 commented on #145
@cjtaylor1990

Go ahead! 👍

[2019-10-19 05:13] stevemao commented on #125
@cjtaylor1990 Would be great. Thanks!

[2019-10-19 09:10] cjtaylor1990 opened #229 "_.forEach gives incorrect suggestion for objects"
I was trying to make a PR in response to #125, and I found out that the linter doesn't distinguish between arrays and objects when fed into lodash functions, and therefore, will give incorrect advice.

For example, if you use eslinter with the plugin, and give it a file with something like this:
[code]
would give,
[code]
Since our variable is an object without a .forEach() method, the suggested ch

[2019-10-20 22:33] cjtaylor1990 commented on #145
Addressed in Pull Request #228

[2019-10-20 22:33] #145 closed

[2019-10-21 12:40] cht8687 commented on #125
#231

[2019-10-21 12:40] #125 closed

[2019-10-21 12:40] cht8687 commented on #229
#231

[2019-10-21 12:40] #229 closed

[2019-10-21 23:56] cjtaylor1990 commented on #149
@cht8687 I'd like to figure this out when I have a bit of time. I have a busy week ahead of me, but if I have time, I'll see what I can do.

[2019-10-22 04:59] cjtaylor1990 commented on #131
This was handled in #231.

[2019-10-22 04:59] #131 closed

[2019-10-31 15:57] rubiin commented on #226
added in #234

[2019-11-03 10:49] #177 closed

[2019-11-04 06:45] jsjain commented on #226
thanks

[2019-11-04 06:45] #226 closed

[2019-11-07 21:17] heygrady commented on #127
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimStart

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/trimEnd

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/Trim

[2019-11-10 00:05] cjtaylor1990 commented on #149
@cht8687 I finally am getting back to this. I think I figured it out. It actually requires me to do an edit to the eslint-rule-documentation repository (https://github.com/jfmengels/eslint-rule-documentation). It amounts to changing their plugins.json file to include our plugin and the URL for README.md, as this is where the Atom ESLint plugin gets its URLs from.

[2019-11-10 00:08] cjtaylor1990 commented on #149
@nebulousdog I'll be putting a PR in to the eslint-rule-documentation repo from where linter-eslint gets its URLs.

[2019-11-10 00:30] nebulousdog commented on #149
awesome @cjtaylor1990!

[2019-11-10 00:31] cjtaylor1990 commented on #149
@cht8687 @nebulousdog I've made the necessary pull request: https://github.com/jfmengels/eslint-rule-documentation/pull/36

Hopefully it'll be quickly merged and pushed out in a new version for download from npm.

[2019-11-10 00:33] cjtaylor1990 commented on #149
@nebulousdog Sorry it took me a while to get around to this. I'm a busy PhD student on top of the fact I was preparing for and going through some SDE interviews.

[2019-11-10 00:35] nebulousdog commented on #149
heh, I had no time expectations. We all appreciate it.

[2019-11-10 00:39] nebulousdog commented on #149
https://github.com/jfmengels/eslint-rule-documentation/issues/28 may need to update another repo when the sunset the repo.

[2019-11-10 00:45] cjtaylor1990 commented on #149
@nebulousdog Ah, thanks for the heads up. I suppose I'll keep an eye on the Linter-Eslint repo to make sure I get on it when the time comes.

[2019-11-10 01:07] cjtaylor1990 commented on #149
For the new paradigm, it seems like we would be having to add in the URL to each rule under rule.meta.docs.url.

[2019-11-11 08:21] cupofjoakim opened #235 "Rule for _.throttle"
It seems that in my company much of the usecase for lodash is the `_.throttle`-function. It's kind of easy to do without lodash, but is kind of a meaty function compared to the others in this repo. My current implementation is 13 lines, so It'd be the biggest here (one more line than the debounce alternative)

I can do a PR if wanted.

[2019-11-12 00:36] stevemao commented on #235
@cupofjoakim PR welcome

[2019-11-12 00:42] cjtaylor1990 commented on #235
@cupofjoakim  This is actually relevant to some of the discussion on #227 when talking about longer native implementations. I think putting it in the README.md and then having the linter point the user towards the README would be good. Just my thoughts on the issue.

[2019-11-12 01:47] cjtaylor1990 commented on #181
@GeorgeWL Did you conclude this wasn't an Issue? If so, we can close the issue.

[2019-11-12 09:21] cupofjoakim commented on #235
@cjtaylor1990 I'll try to make a PR tonight if I have time :)

[2019-11-12 09:52] #181 closed

[2019-11-14 14:24] cht8687 opened #238 "thinking about adding other languages"

[2019-11-18 22:55] #235 closed

[2019-11-20 08:06] cjtaylor1990 commented on #149
@nebulousdog Just giving you an update. I've been trying to figure out how to get the rule metadata set up correctly. I'm still on the case, so don't think I've forgotten.

[2019-11-20 20:26] theblang opened #239 "Consider adding an ESLint rule for _.chain"
I think it would be super helpful to have an ESLint rule that checks for `_.chain` usage.  It breaks the mold of the other methods / rules in that it has no direct translation to ES2015, it just goes away. So it'd be nice to see where in code it is being used via ESLint, especially since it appears to break tree-shaking with lodash.

[2019-11-20 23:23] stevemao commented on #239
PR welcome

[2019-11-26 09:22] hongaar opened #240 "Add alternatives for isString / isFunction"
- `_.isFunction(x)` could be written as `typeof x === 'function'` (https://stackoverflow.com/a/17108198/938297)
- `_.isString(x)` could be written as `typeof x.valueOf() === 'string'` (https://stackoverflow.com/a/58892465/938297)

Would be happy to create 2 PR's for these if this is something you'd like to add.

[2019-11-26 11:01] stevemao commented on #240
@hongaar yes please

[2019-11-27 06:33] cjtaylor1990 commented on #149
@nebulousdog I think this may be a problem with linter-eslinter. I'm finding that even well-known ESLint plugins (e.g. eslint-plugin-mocha) that has some rules that use the meta.rules.url still rely on the eslint-rule-documentation plugins.json file.

For example, despite the rule for "mocha/prefer-arrow-callback", the URL given in meta.rules.url for that rule is the ESLint website. However, inste

[2019-11-27 07:06] chuckxD opened #241 "PR welcome for _.curry and _.curryRight?"
https://lodash.com/docs/4.17.15#curry

[code]

To be discussed:
* placeholders support
* `_.curryRight`

Just seeing if there's interest in adding, issue creation was inspired from:
* https://github.com/you-dont-need/You-Dont-Need-Loops
* https://marmelab.com/blog/2018/03/14/functional-programming-1-unit-of-code.html

[2019-11-27 19:31] cjtaylor1990 commented on #149
@nebulousdog A member of the linter-eslint team seems pretty certain they did it right, so I'm talking to them to figure this out.

[2019-11-28 09:47] cht8687 commented on #241
It sounds a good idea.

[2019-12-03 04:38] griinem opened #242 "About _.get with . (dot) in object keys"
Hi,

Today I've found that `_.get` doesn't work with objects that contains . (dot) in keys. For example:
[code]
Lodash can handle this nicely:
[code]

What is your opinion about this? Personally I don't think this behavior is intentional. Am ready if PR needed.

P/s: For cases like `{'a.b': {'c.d': 1}}`, lodash can handle that as well:
[code]

[2019-12-03 23:09] stevemao commented on #242
PR welcome :)

[2019-12-20 06:40] sbrichardson opened #245 "a"
a

[2019-12-20 10:08] #245 closed

[2019-12-31 10:07] rubiin commented on #242
you can do a pr

[2020-01-09 23:03] #242 closed

[2020-01-11 09:40] doniyor2109 opened #250 "Add support for lodash-es"
This plugin is not working for imports from 'lodash-es`.

[2020-01-18 12:00] #250 closed

[2020-01-23 08:56] kaflan opened #253 "Need npm release"
Release required in npm. So it will be easier to work with useful features

[2020-01-28 08:41] kaflan commented on #253
@stevemao
Is npm release possible? After all, people use lodas and other helpers because they don’t know the script, but because it’s so simpler?

[2020-01-28 15:17] cjtaylor1990 commented on #253
@kaflan The plugin is on npm: https://www.npmjs.com/package/eslint-plugin-you-dont-need-lodash-underscore

[2020-01-29 02:56] stevemao commented on #253
Done :)

[2020-01-29 02:56] #253 closed

[2020-01-31 03:25] hangtwenty opened #255 "Add a link to the Just library"
👋 Hi! This is a super useful document I've checked back on, multiple times.

Now what about linking to a non-fat library that can provide well-tested versions of many of these functions? I just learned of this one recently and I've been pleased:

https://github.com/angus-c/just

I understand why it is the way it is in this doc, but just thinking a link would make sense. Ideally the link(s) could b

[2020-02-04 01:50] kwokhou opened #256 "Misleading isEmpty subtitle indicating it does not work with Set or Map"
This subtitle for `_.isEmpty` is misleading, it kind of imply that the lodash's version does not evaluate `Set` or `Map` (which is not true), see lodash `isEmpty` code [here](https://github.com/lodash/lodash/blob/master/isEmpty.js).

If the ❗️is for the Native implementation, it should put on top of the Native method.

[2020-02-04 02:51] stevemao commented on #256
@kwokhou PR welcome

[2020-02-10 07:55] PavelKoroteev opened #258 "PR welcome for _.initial?"
Add preventing underscrore _.initial (http://underscorejs.ru/#initial);
Consider using array.slice(0, -n);

[2020-02-10 11:30] stevemao commented on #258
Yeah

[2020-02-22 13:24] Sandman83 opened #260 "what is window._ equivalence"
Mainly, this is a question:
Trying to remove a dependency on lodash, I have a case, where the code uses the object of "_" directly and subject it to an iteration. Like
_.forEach(<undefined>, (key,value) => {...});
How to work around the usage of lodash in this case?

[2020-02-23 22:37] Sandman83 commented on #260
Problem solved.
My problem was to find out what "root" in lodash is. After that, a subproblem was handling the default value inside my function. It seems that lodash dealt with this by itself. But now everything works as expected.

[2020-02-23 22:37] #260 closed

[2020-02-27 19:58] gromovadarya90 opened #261 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:00] #261 closed

[2020-02-28 06:32] helen78989 opened #264 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-28 06:33] #264 closed

[2020-03-17 11:42] chroventer opened #267 "JavaScript implement for has method"
I am looking for native implementation for lodash's [has method with path support](https://lodash.com/docs/4.17.15#has)

### Example

[code]

[2020-03-24 17:21] icncsx commented on #258
@stevemao, if no one is working on this, can I make a pull request?

[2020-03-25 02:20] stevemao commented on #258
@icncsx yes please :D

[2020-03-26 23:55] beruic opened #270 "Add entry for _.union"
[code]

can be replaced with

[code]

[2020-03-26 23:56] beruic opened #271 "Add entry for _.reject"
`_.reject` is basically the oposite of `_.filter`, so it is basically just negating the test.

[2020-03-27 20:48] icncsx commented on #258
@stevemao I made a PR. Thanks!

[2020-03-28 17:25] chroventer commented on #267
The requested content has still not been added to the repository.

[2020-03-28 17:25] #267 closed

[2020-03-29 07:04] aashutoshrathi opened #275 "Add entry for _.startCase"

[2020-04-24 03:16] zhounewz opened #278 "in _.debounce , set immediate true, the debounced function cannot work"
`function foo() {console.log("1")}
foo2 = debounce(foo, 3000, true);
foo2()`

no log consoled

[2020-04-30 21:09] crfrolik commented on #121
Wait, so you're saying I *do* need lodash/underscore?

Maybe this repo whould be named `You-Might-Not-Need-Lodash-Underscore`.

[2020-05-11 09:06] PrismPrince opened #280 "Multiple fields on _.orderBy()"
How do you write in native javascript to sort an object array with multiple fields? With an option of ascending or descending?

**Ex:**
[code]

[2020-05-11 10:13] OliverRadini commented on #275
There is rather a lot of code in lodash which goes into making this function work ([here](https://github.com/lodash/lodash/blob/master/startCase.js), [here](https://github.com/lodash/lodash/blob/master/words.js), and [here](https://github.com/lodash/lodash/blob/master/.internal/unicodeWords.js)). Moving the code across seems like it'd be more or less a copy-and-paste job with a very long code exam

[2020-05-28 14:09] dosentmatter opened #282 "Add entry for _.uniqBy"
From https://stackoverflow.com/questions/49314402/make-uniqby-with-es6, it uses `Array.prototype.filter()` with a `Set` to keep track of last seen. It takes in an `fn` function to select properties or `fn` string to access a property.

`const uniqBy = (arr, fn, set = new Set) => arr.filter(el => (v => !set.has(v) && set.add(v))(typeof fn === "function" ? fn(el) : el[fn]));`

[2020-05-28 14:19] dosentmatter opened #283 "Duplicate entries for _.uniq?"
There are duplicate entries for `_.uniq`. The "Quick Links" link to the **1st** link below.

https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/blob/1c3f1c5ef28e61cbd4abf505ff52738a5c75d716/README.md#_uniq
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/blob/1c3f1c5ef28e61cbd4abf505ff52738a5c75d716/README.md#_uniq-1

The **1st** link mentions that **spread** is **not

[2020-07-01 14:00] martinstuecklschwaiger opened #286 "Throttle command doesn't execute on the trailing end"
`_.throttle` rightfully executes both on the leading and trailing edge of the timeout.

[code]

The function in the repository only executes on the leading edge of the timeout, so the later invocation won't happen at all. This is actually needed and useful if you want to throttle resize and scroll events.

[2020-07-07 15:57] Dentxinho opened #287 "Suggested implementation of flatten is not compatible with underscorejs"
Underscorejs flattens arrays deep by default.
#228 introduced the alternative `"Array.prototype.reduce((a,b) => a.concat(b), [])"`, that is not valid for the underscorejs' `_.flatten()`

The test added by this PR is failing to assert it, mainly because it doesn't assert with underscorejs, only with lodash.

I have also found a problem with the unit test.
https://github.com/you-dont-need/You-Dont-N

[2020-07-14 08:15] hongaar commented on #240
Closed because
- _.isString is already added (PRs are open with some tweaks #285, #288)
- PRs are open for _.isFunction (#259, #289)

[2020-07-14 08:15] #240 closed

[2020-07-15 04:37] #271 closed

[2020-07-16 01:32] #147 closed

[2020-08-14 15:38] WeaponX86 opened #294 "_.get doesn't function the same as lodash"
var oTestObject = {
    test1: 1,
    'test.2': 2,
    'test.3': {
        'a.a': {
            'b-b': {
                'c c': [
                    [
                        {d1: 'one'}
                    ],
                    [
                        {d2: 'two'}
                    ],
                    {
                        d3: 'three'
                    }
                ]

[2020-08-26 09:57] noscripter commented on #278
This is indeed a bug.

[2020-09-10 18:31] roychri commented on #280
How about this?

[code]

Usage:

[code]

The `concat()` is used only to make sure the original array is not modified by `.sort()` so it behave like lodash `.orderBy()` function.

[2020-09-16 14:12] Primajin opened #295 "Consider adding autofixes or codemods"
Showing me warnings when using lodash/map in eslint is great but it would be even better if I could run `--fix` and it turns
[code]
into
[code]
automatically

[2020-09-22 19:25] erossignon opened #296 "_.invert"
Here is a suggestion for _.invert
[code]

[2020-10-19 10:58] 12Suns opened #299 "Let’s see"
Here goes

[2020-10-19 16:35] 12Suns opened #300 "docker tag IMAGE_ID docker.pkg.github.com/akhomariam/mon/IMAGE_NAME:VERSION"

[2020-11-04 15:32] djalmajr commented on #241
Maybe

[code]

[2020-11-15 19:55] AXeL-dev opened #301 "throttle doesn't support args of callback function"
[throttle](https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_throttle) does not seems to support arguments of the callback function:

**Example**:

[code]

**An ES6 solution would be**:

[code]

But i'm not sure if this is compatible with ES5.

[2020-11-15 19:56] AXeL-dev commented on #301
Okay, this seems to be a duplicate of #284 :pray:

[2020-11-15 19:56] #301 closed

[2020-11-25 13:47] GarfieldDeepClone opened #302 "Object.entries"
Hi :)

In the rules.json I see:
"entries": { "compatible": true, "alternative": "Object.entries()", "ES6": true },

But I think Object.entries is not ES6/ECMA2015, it's ES8/ECMA2017

And it's also missing in this documentation?
https://www.npmjs.com/package/eslint-plugin-you-dont-need-lodash-underscore

[2020-12-24 08:57] gsivaprabu opened #303 "how to implement forEachRight lodash feature in native code?"
How to implement forEachRight lodash feature in native code?

[#forEachRight](https://lodash.com/docs/2.4.2#forEachRight)

![image](https://user-images.githubusercontent.com/2444608/103076583-10bb9e00-45f4-11eb-9349-2a0d32a60f59.png)

[2020-12-24 20:33] FilipeLarga commented on #278
Pull request #243 seems to have a fix for this issue.

[2021-02-02 23:52] WhatFreshHellIsThis opened #304 "isString fails on empty string"
Just tracked down a bug in my code and realized it's caused by isString() failing on an empty string and returning false when it actually is a string.  This is contrary to my expectations of what "isString" function would do, am I correct in thinking this?

This is the function listed here: https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_isString
[code]

And it fails due to the `

[2021-02-25 16:15] bryandonmarc opened #305 "Add entry for _.unionBy"
Referencing these articles: [here](https://learnwithparam.com/blog/union-of-objects-in-javascript/) and [here](https://stackoverflow.com/a/48370618), we can natively implement `_.unionBy` with plain JS.

[code]

[2021-03-03 17:55] zargold commented on #121
This should more or less work:

[code]

based on: @ouassimBenMosbah answer:
function cloneDeepWithoutLodash(src) {
  let target = {};
  for (const prop in src) {
    if (src.hasOwnProperty(prop)) {
      if(src[prop] != null && typeof src[prop] === 'object') {
        target[prop] = cloneDeepWithoutLodash(src[prop]);
      } else {
        target[prop] = src[prop];
      }
    }
  }
 return target

[2021-03-15 18:07] sukima commented on #121
@zargold solution should be in this repo for sure!! 👏

[2021-04-06 23:02] alejandroiglesias opened #308 "_.pick is incorrectly simplified, Lodash accepts a path"
The Lodash version of pick accepts a path, thus this is perfectly doable in Lodash:

[code]

But there's no equivalent in ES6.

[2021-04-23 09:37] casaper opened #309 "TypeScript: Examples and rules"
I hardly ever write plain JS any more nowadays, so I kind of have to type these very fine examples given here for myself all the time.

So how about this:

1. make examples in README.md in typescript as well
2. add a @typescript-eslint/you-dont-need-lodash

I'm willing to contribute to that effort, if there is some agreement amongst the original contributors.

[2021-04-23 18:49] gregpalaci opened #311 "_.get implementation"
I would like to confirm the documentation, it says if the path in the object isn't found it will result in object error.
I want to clarify is not the whole point of _.get to search the unknown and paths may not exist?
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_get

[2021-05-01 12:46] mrmowji commented on #138
@pozylon I think this approach doesn't work great when we want to omit an inner property.
[code]

I suggest we move this method to the "warn" list instead of "error"s.

[2021-05-02 11:05] mrmowji opened #312 "Add more suggestions for _.first"
Currently, the suggestion we get for `_.first` might not be relevant in all cases. `Array.prototype.slice()` returns an array. But `_.first` from lodash returns a non-array value. So [this line](https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/blob/cd0c68eeec91eca1b7afc2515169a2e3ab7fa17f/lib/rules/rules.json#L51) should be something like this I guess:
[code]

[2021-05-19 06:46] emfomy opened #317 "DEP0128 DeprecationWarning"
I'm using Node v16 and I got the following warning while running ESLint.

[code]

[2021-05-19 14:30] ehmicky commented on #317
PR at #315 to fix this.

[2021-06-16 03:47] mrgenixus commented on #304
consider the much simpler:
[code]

[2021-06-17 10:39] promotion-xu opened #318 "How to wirite lodash.merge by myself"
`export function merge<TTarget, TSource>(
  target: TTarget,
  source: TSource
): TTarget & TSource;
export function merge<ITarget, ISource1, ISource2>(
  target: ITarget,
  source1: ISource1,
  source2: ISource2
): ITarget & ISource1 & ISource2;
export function merge<ITarget, ISource extends { [key: string]: any }>(
  target: ITarget,
  ...args: ISource[]
): ITarget {
  return args.reduce((acc: I

[2021-07-10 02:33] #317 closed

[2021-07-10 02:42] cht8687 commented on #309
@stevemao any thoughts on this?

[2021-07-10 02:46] cht8687 commented on #308
👍  thanks for pointing it out. As stated in the very beginning of the doc:

we can fix the example though.

[2021-07-10 03:24] cht8687 commented on #305
it was added in this PR https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/319

[2021-07-10 03:24] #305 closed

[2021-07-10 13:33] ehmicky commented on #317
@cht8687 Would it be possible to make a new release on npm? Thanks!

[2021-07-10 13:54] cht8687 commented on #317
@ehmicky
I think it has been released in https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/releases/tag/v6.12.0

[2021-07-10 16:30] ehmicky commented on #317
Oh, right. Thanks!

[2021-08-19 12:19] laithshadeed opened #321 "Replacing lodash string functions with native one requires special care for Unicode strings"
For example, the native split function `'😀-hi-🐅'.split('')` will break your string compared to lodash `_.'😀-hi-🐅'` because it failed to recognize emojis as a single symbol and instead splits its surrogate pairs into two pieces. It is the same reason why calling length on emojis returns two instead of one `'😀'.length`

Lodash takes special care if your string has non-BMP symbols for example emojis.

[2021-10-07 04:40] peitalin commented on #278
#243 hasn't been merged.
Changes are here:
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/243/commits/194ec290be8264ed00e5ebfddde32cfcae6423aa

[2021-10-12 08:23] Semigradsky commented on #258
@PavelKoroteev  Issue can be closed?

[2021-10-12 13:42] #304 closed

[2021-10-13 10:52] PavelKoroteev commented on #258
Yes, sure.

[2021-10-20 09:30] gilles6 opened #331 "How do you replace lodash to sort an array of objects by object key?"
How do you replace lodash to sort an array of objects by object ('foo') key ('bar')?
[code]

[2021-11-09 16:17] flying-sheep commented on #286
yes, basically if the third option is passed to throttle, this lint shouldn’t trigger

[2021-12-13 19:49] rkrisztian opened #333 "Lodash/Underscore are partially still simpler and easier to read"
Sure, some of the examples given there do a very good job at showcasing how ES evolved and brought us fine replacements for what we could only do nicely with these libraries. But some native alternatives are plain outright worse. Let's what I mean.

1. `_.chunk`, `_.pull`: the native alternative means **reinventing the wheel**, and such actions in general are often sources of errors.
2. `_.differe

[2022-03-01 22:48] unquietwiki commented on #331
@gilles6 https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/entries

I've been using this plugin, and running into stuff like this; I may try coming up with some updates to submit based on my findings.

[2022-03-30 19:01] pcbailey commented on #278
As of March 30th 2022, PR https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore/pull/243 has not been merged. If you plan on using the existing function, please look at the first commit in the PR and make the change shown there.

[2022-03-30 19:09] pcbailey opened #338 "The provided debounce function doesn't provide cancel and flush options like lodash's version"
The debounced function returned by your version of `debounce` doesn't have the `cancel` and `flush` options like one returned by lodash's implementation would have. In my opinion, these aren't insignificant omissions.

I recommend either updating the function to include these options or updating the description to indicate the limitations of your implementation.

[2022-04-05 12:31] mika76 opened #339 "zip/unzip missing"
Pretty much that zip and unzip are missing...

[2022-04-22 11:15] munierujp opened #340 "Why don't you use instanceof for `isDate`?"
Here is example code:

[code]

[2022-05-10 11:36] briancodes commented on #311
You're right about this one. The implementation shown doesn't match the features of `_.get`
- path can be a string OR array of strings
- returns `undefined` if object doesn't contain path/property
- can return a default value if path doesn't exist

[code]

[2022-05-11 08:12] KristjanTammekivi commented on #312
Also Array.prototype.at() or const [firstElement] = arr;

[2022-05-24 09:40] Shiroh1ge commented on #121
For node.js this is a decent solution:
[code]

source: https://blog.logrocket.com/methods-for-deep-cloning-objects-in-javascript/

For Node v17.+ there is also ``structuredClone`` available

[code]

[2022-05-24 22:06] VitorLuizC commented on #121
@Shiroh1ge won't work for functions and other value types.

[2022-06-08 03:58] apappas1129 commented on #278
Can someone create a standalone TS declaration of this function?

[2022-07-01 19:08] Uzlopak opened #342 "add shuffle"
shuffle can be implemented like this:

[code]

[2022-07-05 12:29] Its-Just-Nans commented on #340
I think you can check that:

https://stackoverflow.com/a/643827

"**you can use the `instanceof` operator, i.e. But it will return true for invalid dates too, e.g. `new Date('random_string')` is also `instance of Date`**"

[2022-07-06 07:20] ImTheTom opened #344 "Is the _.keyBy collectionKeyBy function correct?"
Hey,

Just wondering if the function `collectionKeyBy` under `_.keyBy` is correct.

Would have assumed you needed the Object.Values call around the collection, not the ouput of the keyBy function. e.g.

[code]

sandbox example of what I'm talking about https://codesandbox.io/s/lodash-playground-forked-rcn0hn?file=/src/index.js

[2022-07-06 20:20] straurob opened #346 "Warning for isEmpty in WebStorm"
Refers to:
https://github.com/you-dont-need/You-Dont-Need-Lodash-Underscore#_isempty

[code]

While this actually seems to work fine as code, WebStorm (2022.1.3) gives me the following warning and I wonder if this is a WebStorm issue or if there is possible something "wrong" with the code?

[code]

[2022-07-08 08:57] Cowjiang commented on #346
You can infer the parameter 'obj'  to the 'any' type
like this:
`const isEmpty = (obj: any) => [Object, Array].includes((obj || {}).constructor) && !Object.entries((obj || {})).length;`

[2022-07-11 04:35] straurob commented on #346
This seems to be only valid for Typescript, right? Sorry, I forgot to mention that I'm using Vanilla JavaScript.

[2022-07-12 07:03] Cowjiang commented on #346
Let's see the declaration of 'Array.includes':
[code]

And the declaration of 'Object.constructor':
[code]

And Webstorm show this:
[code]

That means Generics '<T>' was identified as '<ObjectConstructor | ArrayConstructor>', and that's why Webstorm will show the warning 'Argument type Function is not assignable to parameter type ObjectConstructor | ArrayConstructor'.

Umm, this warning doesn't sh

[2022-07-13 20:57] straurob commented on #346
I'll check the WebStorm issues if there is something similar. It obviously looks more like a WebStorm thing.

[2022-07-13 20:57] #346 closed, assigned to nobody

[2022-08-22 07:24] hua03 opened #347 "`debounce` function is wrong implementation"
## _.debounce
[code]

------

The follow code is after the assignment statement for `timeout`, it means `immediate && !timeout` is always `false`.When `immediate` is `true`, debounced function will not be triggered.

[code]

[2022-08-22 07:30] hua03 commented on #347
duplicate of #278

[2022-08-22 07:30] #347 closed

[2022-09-07 06:18] #344 closed

[2022-10-07 13:19] peroxid opened #349 "Suggest structuredClone as a replacement for cloneDeep"
structuredClone is a built-in replacement for cloneDeep, please consider suggesting it.

https://developer.mozilla.org/en-US/docs/Web/API/structuredClone

[2022-10-22 01:08] retry19 commented on #349
can I work on this?

[2022-10-22 01:10] retry19 commented on #270
can I work on this?